.main-footer-container{
    position: relative;
    overflow: hidden;
    .c1{
        position: absolute;
        top: 0;
        left: 0;
    }
    .c2{
        position: absolute;
        top: 0;
        right: 0;
    }
    .c3{
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .c4{
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

footer{
    background: $main_black;
    padding: 6em 0em;

    .row{
        .logo{
            color: #FFF;
            font-family: Saira;
            font-size: 0.9rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.5rem;
            align-self: center;
        }

        .navigation{
           h2{
            color: $white;
            font-family: Saira;
            font-size: 1.2625rem;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 0.8rem;
           }
           ul{
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            gap: 0.8em;

            li{
                color: #FFF;
                font-family: Saira;
                font-size: 1rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                transition: all .3s ease-out;
            }
            li:hover{
                color: $white;
            }
           }
        }

        .contact-us{
            img{
                margin-right: 10px;
            }
        }

    }

    
    @media(max-width: 760px){
        text-align: center;
    }

    @media(max-width: 567px){
        padding: 2em 0em;
    }
    
}

.footer-row{
    row-gap: 1em;
}

.bottom-container{
    background: $main_black;
    color: #fff;
    a{
        color: #fff;
        transition: all .3s ease-out;
    }
    a:hover{
        color: $white;
    }

    .bottom-section{
        padding: 1em 0em;
        border-top: 1px solid white;
    }
}