


.top-section{
    @media(max-width:576px){
        display: none!important;
    }
}

.hero-section-container{
    overflow: hidden!important;
    background-color: $main_black;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    @media(max-width: 576px){
        height: 90vh;
    }

   .hero-section{
    display: flex;
    flex-direction: column;
    height: 100vh;
    @media(max-width: 576px){
        height: 90vh;
    }
    .content-row{
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        @media(max-width: 576px){
            align-items: unset;
            flex-direction: column;
            flex-direction: row;
        }

        .hero-image{
            // align-self: flex-end;
            @media(max-width: 1100px){
                img{
                    width: 400px;
                }
            }
            @media(max-width: 850px){
                img{
                    width: 300px;
                }
            }
            @media(max-width:576px){
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                position: relative;
                img{
                    // position: absolute;
                    width: 200px;
                    // bottom: 0px;
                }
            }
        }
    }
    .content{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1.5em;
        @media(max-width:576px){
            padding-top: 2em;
            align-items: center;
            justify-content: center;
        }
        .buttons-row{
            gap: 1.5em;
            flex-wrap: wrap;
            @media(max-width:576px){
                width: 100%;
                align-items: center;
                justify-content: center;
            }
        }

        .text{
            @media(max-width:576px){
                width: 100%;
                text-align: center;
            }
            h5{
                color: $offset;
                font-family: Syne;
                font-size: 1.8875rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                @media(max-width:576px){
                   margin-top: 4em;
                }
            }

            h1{
                color: $offset;
                font-family: Syne;
                font-size: 4rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;

                .row{
                    width: 90%;
                    display: flex;
                    align-items: center;

                    hr{
                        border: 3px solid $green;
                        border-radius: 5rem;
                        opacity: 1;

                        @media(max-width:576px){
                            display: none;
                        }
                    }
                }
            }

            @media(max-width:1200px){
                h5{
                    font-size: 1.8rem;
                }
                h1{
                    font-size: 3rem;
                }
            }

            @media(max-width: 1000px){
                h5{
                    font-size: 1.2rem;
                }

                h1{
                    font-size: 2rem;
                }
            }

            @media(max-width: 576px){
                h5{
                    font-size: 1rem;
                }

                h1{
                    font-size: 1.8rem;
                }
            }
        }
    }
   }
}

.about-us-container{
    overflow: hidden!important;
    background-color: $offset;
    .about-us{
        .text{
            h1{
                font-family: Syne;
                font-size: 3.75rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                margin-bottom: 0.2em;

                background: $green;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;


                @media(max-width:576px){
                    text-align: center;
                    font-size: 2.7rem!important;
                }
            }

            p{
                color: #000;
                font-family: Saira;
                font-size: 1.2rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1.7rem;

                @media(max-width:576px){
                    text-align: center;
                    font-size: 1rem;

                    line-height: 1.4rem;
                }
            }

            @media(max-width: 576px){
                h1{
                    font-size: 3rem;
                }

                p{
                    font-size: 1rem;
                }
            }
        }

        img{
            transition: all .3s ease-out;
        }

        img:hover{
            cursor: pointer;
            transform: rotate(3deg) scale(1.05);
        }

        @media(max-width: 1000px){
            .image{
                img{
                    width: 350px;
                }
            }
        }

        @media(max-width: 576px){
            .image{
                img{
                    margin: 0 auto;
                    width: 300px;
                }
            }
        }
    }
}

.services-container{
    overflow: hidden!important;
    background-color: $offset;
    .services{
        .heading{
            h5{
                color: $main_black;
                text-align: center;
                font-family: Syne;
                font-size: 1.7rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;

                @media(max-width:576px){
                    font-size: 1.1rem;
                }
            }

            h1{
                background: $green;
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-family: Syne;
                font-size: 3.75rem;
                font-style: normal;
                font-weight: 500;
                line-height: normal;

                @media(max-width:576px){
                    text-align: center;
                    font-size: 2.7rem;
                }
            }
        }

        .cards-container{
            margin-top: 3em;
            display: flex;
            justify-content: start;
            flex-wrap: wrap;
            gap: 1.1em;
            row-gap: 1.5rem;
            max-width: 1200px;
            @media(max-width:576px){
                margin-top: 2em;
            }
            @media(max-width:990px){
                justify-content: center;
            }
            .cardd{
                overflow: hidden;
                display: flex;
                width: 22.375rem;
                height: 22rem;
                padding: 1.5rem 1.125rem 1.9375rem 1.0625rem;
                flex-direction: column;
                align-items: flex-start;
                gap: 0.875rem;

                @media(max-width:576px){
                    height:unset;
                }

                border-radius: 1rem;
                background: #FFF;
                box-shadow: 0px 0px 5.1px 0px rgba(0, 0, 0, 0.25);

                display: grid;
                grid-template-rows: 50% 50%;

                @media(max-width:576px){
                    display: flex;
                    flex-direction: column;
                }

                .image{
                    height: 100%;
                    width: 100%;
                    border-radius: 0.5rem;
                    overflow: hidden;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transition: all .3s ease-out;
                    }

                    img:hover{
                        cursor: pointer;
                        transform: scale(1.05);
                    }
                }

                .content{
                    height: 100%;
                    width: 100%;

                    h5{
                        color: $black;
                        font-family: Syne;
                        font-size: 1.5rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                    }

                    p{
                        color: $text_grey;
                        font-family: Saira;
                        font-size: 1.1rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.5rem;

                        margin-top: 0.5rem;
                    }

                    p::-webkit-scrollbar {
                        width: 2px; /* Set the width of the scrollbar */
                      }
                      
                    p::-webkit-scrollbar-thumb {
                        background-color: transparent; /* Set the color of the scrollbar thumb */
                        border-radius: 6px; /* Round the corners of the thumb */
                        background: linear-gradient(93deg, #117CB2 24.06%, #67E0CF 79.96%);
                    }
                      
                    p::-webkit-scrollbar-track {
                        background-color: transparent;
                        opacity: 0;
                    }
                }
            }

            .c2{
                display: grid;
                grid-template-rows: 90% 10%;
                height: 17rem;
            }
        }
    }
}

.client-info-container{
    overflow: hidden!important;
    background: $main_black;
    background-size: cover;
    background-repeat: no-repeat;

    .client-info{
        .heading{
            width: 100%;
            h2{
                color: $white;
                text-align: center;
                font-family: Syne;
                font-size: 3.125rem;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                span{
                    font-weight: 300;
                }
                @media(max-width:576px){
                    font-size: 2rem;
                }
            }
        }

        .cards-container{
            flex-wrap: wrap;
            row-gap: 1.5em;
            @media(max-width:576px){
                display: flex;
                flex-direction: column;
            }
            .cardd{
                gap: 0.5em;
                h3{
                    color: $white;
                    text-align: center;
                    font-family: Saira;
                    font-size: 2.8125rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    @media(max-width:576px){
                        font-size: 2rem;
                    }
                }
                p{
                    color: $white;
                    text-align: center;
                    font-family: Saira;
                    font-size: 1.125rem;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }

                img{
                    transition: all .3s ease-in-out;
                }

                img:hover{
                    cursor: pointer;
                    transform: translateY(-5px) scale(1.1) rotate(5deg);
                }
            }
        }
    }
}

.contact-container{
    position: relative;
    .c1{
        position: absolute;
        display: inline;
        top: 0;
        left: 0;
    }
    .c2{
        position: absolute;
        display: inline;
        top: 50px;
        right: 60px;
    }
    .c3{
        position: absolute;
        display: inline;
        bottom: 0;
        left: 0;
    }
    .c4{
        position: absolute;
        display: inline;
        bottom: 0;
        right: 0;
    }
    overflow: hidden!important;
    background-color: $main_black;
    .contact{
        .form{
            .form-container{
                form{
                    display: flex;
                    flex-direction: column;
                    gap: 1.3em;
                }
            }
            .heading{
                h2{
                    display: inline;
                    font-family: Syne;
                    font-size: 3.125rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 144.525%; /* 4.51644rem */
                    color: $offset;
                    font-family: Maven Pro;
                    font-size: 3.125rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 144.525%;

                    span{
                        background: linear-gradient(91deg, #117CB2 2.07%, #67E0CF 91.34%);
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }

                    @media(max-width:576px){
                        font-size: 2.2rem;
                    }
                    
                }
            }

            .form-container{
                input{
                    width: 100%;
                }
                input[type="text"]{
                    color: $offset;
                    font-family: Saira;
                    font-size: 1.5625rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    background-color: transparent;
                    border: none;
                    outline: none;
                    border-bottom: 2px solid $offset;
                    transition: all .3s ease-out;
                }
                input[type="text"]::placeholder{
                    color: $offset;
                    font-family: Saira;
                    font-size: 1.5625rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
                input[type="text"]:focus{
                    border-bottom: 2px solid $green;
                }

                input[type="email"]{
                    color: $offset;
                    font-family: Saira;
                    font-size: 1.5625rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    background-color: transparent;
                    border: none;
                    outline: none;
                    border-bottom: 2px solid $offset;
                    transition: all .3s ease-out;
                }
                input[type="email"]::placeholder{
                    color: $offset;
                    font-family: Saira;
                    font-size: 1.5625rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
                input[type="email"]:focus{
                    border-bottom: 2px solid $green;
                }

                textarea{
                    color: $offset;
                    font-family: Saira;
                    font-size: 1.5625rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    background-color: transparent;
                    border: none;
                    outline: none;
                    border-bottom: 2px solid $offset;
                    transition: all .3s ease-out;
                    width: 100%;
                }
                textarea::placeholder{
                    color: $offset;
                    font-family: Saira;
                    font-size: 1.5625rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
                textarea:focus{
                    border-bottom: 2px solid $green;
                }

                button{
                    display: inline-flex;
                    padding: 0.6375rem 1.5625rem;
                    justify-content: center;
                    align-items: center;
                    gap: 0.625rem;
                    max-width: 14rem;

                    color: #FFF;
                    font-family: Saira;
                    font-size: 1.3625rem;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;

                    border: none;
                    border-radius: 0.375rem;
                    background: $green;

                    transition: all .3s ease-out;
                }

                button:hover{
                    cursor: pointer;
                    transform: scale(1.05);
                }
            }
        }


        .reach-us{
            padding-left: 2rem;
            position: relative;
            .heading{
                h2{
                    color: $offset;
                    font-family: Maven Pro;
                    font-size: 1.875rem;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 144.525%; /* 2.70988rem */
    
                    span{
                        font-family: Maven Pro;
                        font-size: 4.375rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 144.525%; /* 6.323rem */
    
                        background: $offset;
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }

                    @media(max-width:576px){
                        margin-top: 1.5em;
                        font-size: 1.3rem;

                        span{
                            font-size: 3rem;
                        }
                    }
                }
            }

            .cards{
                gap: 3.5em;
                .cardd{
                    gap: 1em;
                    color: $offset;
                    font-family: Maven Pro;
                    font-size: 1.1625rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                @media(max-width:576px){
                    gap: 2em;
                }
            }
        }


        .map{
            iframe{
                width: 100%;
            }
        }
    }
}

.brands-container{
    overflow: hidden!important;
    width: 100%;
    .image{
        margin: 2em 0em;
        overflow: hidden;
        display: flex;
        width: 16.8125rem;
        height: 11.25rem;
        align-items: center;
        flex-shrink: 0;
        border-radius: 1.125rem;
        background: #989898;
        border: none;
        outline: none;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .odd{
        border: 4px solid $offset;
        transform: rotate(-7.723deg);
    }
    .even{
        border: 4px solid $green;
        transform:  rotate(8deg);
    }    
}

.owl-item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-icons{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 150;


    gap: 1em;

    img{
        transition: all .3s ease-out;
    }
    img:hover{
        transform: scale(1.05) translateY(-5px);
    }
}

.navbar-nav{
    @media(max-width:990px){
        text-align: right;
    }
}

.why-choose-us{
    .line-spaced{
        .list{
            text-align: left!important;
        }
    }
}

.extra-img{
    margin-top: 1em;
    .extra-img-inner{
        img{
            width: 130px!important;
            border-radius: 1rem;
        }
    }
}

.we-focus-container{
    background-color: $main_black;
    position: relative;
    .c1{
        position: absolute;
        display: inline;
        top: 0;
        left: 0;
        z-index: 0;
    }
    .c2{
        position: absolute;
        display: inline;
        top: 0px;
        right: 0px;
        z-index: 0;
    }
    .c3{
        position: absolute;
        display: inline;
        bottom: 0;
        left: 0;
        z-index: 0;
    }
    .c4{
        position: absolute;
        display: inline;
        bottom: 0;
        right: 0;
        z-index: 0;
    }
    
    padding: 5em 0em;
    @media(max-width:576px){
        height: 600px;
    }
    .text{
        position: relative;
        z-index: 10;
        h1{
            width: 100%;
            align-items: center;
            justify-content: center;
            display: flex;
            color: $offset;
            text-align: center;
            font-family: Syne;
            font-size: 4.375rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            flex-wrap: wrap;
            span{
                color: $green;
            }

            @media(max-width: 1200px){
                font-size: 3.5rem;
            }

            @media(max-width: 1000px){
                font-size: 2.5rem;
            }

            @media(max-width: 576px){
                font-size: 2rem;
            }
            
        }

        p{
            color: $offset;
            text-align: center;
            font-family: Saira;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            @media(max-width: 1200px){
                font-size: 1rem;
            }

            @media(max-width: 1200px){
                font-size: 0.7rem;
            }
        }
    }
}